body {
    font-family: Arial, sans-serif;
    background-image: url('Screenshot\ 2024-09-03\ 143432.png');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: hsla(0, 20%, 82%, 0.587);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
    font-size: 20px;
    border: 0 solid rgba(0, 0, 0, 1);
}

#quiz-container {
    margin-top: 20px;
}

#question {
    font-size: 1.2em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.answer {
    display: flex;
    align-items: center;
    gap: 10px;
}

label {
    cursor: pointer;
    flex-grow: 1;
}

input[type="radio"] {
    transform: scale(1.5);
}